<html>
    <body>
        <h1>Cadastro de produto</h1>
        <form action="/login/executar" method="post">
            <label>Nome:</label>
            <input name="nome" type="text"/><br/>
            <label>Quantidade:</label>
            <input name="quantidade" type="text"/><br/>
            <label>Preço:</label>
            <input name="preco" type="text"/><br/>
            <input type="submit" value="cadastrar"/>
        </form>
        <% if(mensagem){%>
            <p>
                <label style="color:red"><%=mensagem%></label>
            </p>
        <%}%>
        </form>
    </body>
</html>